* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New";
}

.hidden {
  visibility: hidden;
}
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d3d3af;
  .header {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    .tittle {
      height: auto;
      width: 250px;
      filter: invert() sepia() brightness(0.5);
    }
  }
  .form {
    gap: 0.5rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .form-input {
      border: solid rgb(153, 145, 134);
      padding: 0.2rem;
      background-color: beige;
      border-radius: 20px;
    }
    .form-button {
      all: unset;
      background-color: rgb(153, 145, 134);
      border-radius: 20px;
      padding: 0.2rem;
      font-weight: 600;
    }
  }
  .list {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .pokemon {
      display: flex;
      border: solid black 1px;
      height: 270px;
      width: 270px;
      background-color: rgb(153, 145, 134);
      border-radius: 20px;
      box-shadow: 2px 2px 0px 0px black;
      gap: 0.5rem;
      flex-direction: column;
      padding: 1rem;
      .pokemon-name {
        background-color: rgb(153, 145, 134);
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
      }
      .pokemon-link {
        background-color: rgb(153, 145, 134);
      }
      .pokemon-image {
        background-color: rgb(153, 145, 134);
      }
    }
  }
  .buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    .next-button {
      border: none;
      background-color: rgb(153, 145, 134);
      border-radius: 20px;
      padding: 0.2rem;
      font-weight: 600;
    }
    .previous-button {
      border: none;
      background-color: rgb(153, 145, 134);
      border-radius: 20px;
      padding: 0.2rem;
      font-weight: 600;
    }
  }
  .footer {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
}
@media (min-width: 1024px) {
  .root {
    .list {
      display: flex;
      padding: 1rem;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 5rem;
      justify-content: center;
    }
  }
}
